.reg{
    padding-left: 10px;
    color: white;
   
    
  }
  .log{
     padding-left: 750px; 
     color: white;
     
  }
  .log1{
    padding-left: 10px;
    color: white;

   
    
  }

  .link{
     text-decoration: none;
  }
  .link1{
    text-decoration: none;
    color: white;
  }