.toj{
    border-radius: 50%;
    width: 200px;
    /* padding-left: 10px; */
    /* margin-left: 450px; */
    margin-top: 20px;
    /* margin-left: 100px; */
    background-color: blue;
}
.aboutme{
    margin-top: 100px;
    margin-left: 350px;
    border: 1px solid;
    width: 400px;
    /* padding-right: 30px; */
    
    text-align: center;
}